body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}
nav {
  background-color: #f4ce14;
  padding: 20px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  margin-right: 50px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.nav-logo {
  width: 64px;
}

.container {
  max-width: 1400px;
  margin: 0 auto; /* Set left and right margins to 'auto' for centering */
  padding: 10%;
}

main {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hero-content {
  max-width: 400px;
}

.hero-image {
  width: 700px;
  border-radius: 30px;
}

footer {
  background-color: rgb(73, 94, 87);
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer div {
  margin-bottom: 20px;
}

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}
